{% extends 'events/home.html'%}
{% load static %}
{% block css %}{% endblock %}
{% block title %}{% endblock %}
{% block content %}
        <section class="container-fluid bg pl-0">
            <section class="row justify-content-center mt-5 ">
                <section class="col-10 col-sm-8 col-md-6 mt-5">
                    <form class="form-container text-white mt-5" method="POST" >
                        {% csrf_token %}
                        <div class="">
                            <div><label class="form-label " style="font-size: x-large; font-style: inherit;">New Password Reset</label></div>
                          </div>
                        {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                        <div class="mb-3">
                          <label  class="form-label">New Password</label>
                          <label  class="form-label text-danger">{{error}}</label>
                          <input type="password" class="form-control" name="password1" id="exampleInputEmail1" aria-describedby="emailHelp">
                          {% endfor %}
                          {% else %}
                          <div id="emailHelp" class="form-text">Please enter your new password.</div>
                          <label for="exampleInputEmail1" class="form-label">New Password</label>
                          <input type="password" class="form-control mb-3" name="password1" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        {% endif %}
                        {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                        <div class="mb-3">
                          <label  class="form-label">Confirm Password</label>
                          <label  class="form-label text-danger">{{error}}</label>
                          <input type="password" class="form-control " name="password2" id="exampleInputEmail1" aria-describedby="emailHelp">
                          {% endfor %}
                          {% else %}
                          <label for="exampleInputEmail1" class="form-label ">Confirm Password</label>
                          <input type="password" class="form-control" name="password2" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-info btn-block mb-2 mt-3">Reset Password</button>
                      </form>
                </section>
            </section>
        </section>
{% endblock %}


